{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ greeting }} I am {{ name }}! ✅</h1>

    My friends are: {{ friends | filter(f=>f!=name) | join(', ') }}

</div>
{% endblock %}
